<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>


    <a class="con" href="mailto:saumyasrivastava038@gmail.com">Say Hello</a>

<%- include("partials/footer"); -%>
